{% extends 'base.html' %}

{% block title %}
    Route
{% endblock %}

{% block content %}

    <h1>Route</h1>
    <div class="row">
        <div class="col-md-10">
            <table class="table table-stripped">
                <tr>
                    <th>Number</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Travel time</th>
                    <th>List of trains on the route</th>
                    {% if user.is_authenticated %}
                        <th>&nbsp;</th>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.from_city }}</td>
                    <td>{{ object.to_city }}</td>
                    <td>{{ object.travel_times }}</td>
                    <td>
                        {% for train in object.trains.all %}
                            <p>{{ train }}<br>Travel time: {{ train.travel_time }}</p>
                        {% endfor %}
                    </td>
                    {% if user.is_authenticated %}
                        <td>
                            <a href="{% url 'routes:delete' pk=object.pk %}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </div>
{% endblock %}