{% extends 'base.html' %}
{% url 'find_routes' as action %}

{% block content %}
    {% if not routes %}
        {% include 'components/form.html' with button='Find' action=action %}
    {% else %}

        <div class="row">
            <div class="col-md-8 mx-auto">
                {% if routes %}
                    <h2>Route{% if routes|length != 1 %}s{% endif %} from {{ cities.from_city }}
                        to {{ cities.to_city }}</h2>
                    <br>
                    
                    {% for route in routes %}
                        {% if forloop.first %}
                            <h4>The most shortest route</h4>
                        {% endif %} 
                        <h5>Travel time {{ route.total_time }}</h5>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">List of trains on this route</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for train in route.trains %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>Train {{ train.name }} from {{ train.from_city.name }} to {{ train.to_city.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}