{% extends 'base.html' %}

{% block title %}
    City
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md">
            <table class="table table-stripped">
                <tr>
                    <th>Number</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Travel time</th>
                </tr>
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.from_city }}</td>
                    <td>{{ object.to_city }}</td>
                    <td>{{ object.travel_time }}</td>

                </tr>
            </table>
        </div>
    </div>
{% endblock %}