<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'routes:find' %}">FindRoute</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cities:home' %}">Cities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'trains:home' %}">Trains</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'routes:list' %}">My routes</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Add
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'cities:create' %}">Add a city</a>
                        <a class="dropdown-item" href="{% url 'trains:create' %}">Add a train</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                <a class="nav-link disabled" href="#">Add</a>
            </li>
            {% endif %}

            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'accounts:logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'accounts:registration' %}">Registration</a>
                </li>
            {% endif %}


        </ul>
    </div>
</nav>